.dropdown {
  position: relative;
  display: inline-block;
}

.dropdpwn__section{
  display: flex;
  flex-direction: row;
}

.dropdown__section2--logo{
  width: 32%;
}

.dropdown__Section1--button{
  border-style: none;
  font-size: 12px;
  background-color:white;
  border-radius: 20px;
  width: 50%;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown__Section1--buttonText{
  font-size: 45px;
  color: #afadad;
}

.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #f1f1f1;
  list-style-type: none;
  margin: 0;
  padding: 0;
  left: -15px;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-menu li {
  padding: 12px 16px;
}

.dropdown-menu li a {
  color: black;
  text-decoration: none;
}

.dropdown-menu li a:hover {
  background-color: #ddd;
}
